/* Home.css */
.drawer {
    width: 240px;
    flex-shrink: 0;
}

.mainContent {
    padding-top: 20px;
    flex: 1;
}

.MuiTabs-centered
{
    padding-left: 150px;
    justify-content: start !important;
}

.MuiDrawer-paper
{
    margin-top: 65px !important;
}