.d-block {
    display: block;
}

.w-100{
    width: 100%;
}

.textCenter{
    text-align: center;
}

.col-center {
    display: flex;
    align-items: center;
}

.row-center {
    display: flex;
    justify-content: center;
}

.regist{
    text-decoration: underline;
}
.regist:hover {
    cursor: pointer;
}

.error{
    color:red;
}

.pb-1 {
    padding-bottom: 10px;
}


.pt-1 {
    padding-top: 10px;
}